Source: netbeans-installer
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: netbeans-installer
Architecture: all
Depends: ${misc:Depends}, netbeans-8.2-installer
Description: generic netbeans metapackage
 This package will always depend on the aurex recommended version of
 the netbeans IDE

Package: netbeans-8.2-installer
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java10-installer|oracle-java8-installer
Description: netbeans 8.2 loader package for aurex
 This package downloads and installs netbeans 8.2 IDE

Package: netbeans-8.1-installer
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java8-installer|oracle-java9-installer|oracle-java10-installer
Description: netbeans 8.1 loader package for aurex
 This package downloads and installs netbeans 8.1 IDE

Package: netbeans-8.0-installer
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java8-installer|oracle-java9-installer|oracle-java10-installer
Description: netbeans 8.0 loader package for aurex
 This package downloads and installs netbeans 8.0 IDE

Package: netbeans-7.3.1-installer
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer|oracle-java8-installer|oracle-java9-installer|oracle-java10-installer
Description: netbeans 7.3.1 loader package for aurex
 This package downloads and installs netbeans 7.3.1 IDE
